.card{
    width: 90%;
    margin: 0 auto;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    transition: 0.5s;
    box-sizing: border-box;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;

}


.cardComponent{
    overflow: hidden;
    gap: 10px;
    align-items: center;
    border: 2px solid green;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    transition: 0.5s;
}
.cardComponent:hover{
    transform: scale(1.05);

}

img{
     width: 100%;
}

.main-body{
    max-width: 90%;
    margin: auto;
    text-align: center;
    border: 2px solid red;
}

.visited-card{
    background-color: aquamarine;
    color: rgb(82, 11, 163);
}

.visited-button{
    border: 2px solid rgba(4, 156, 62, 0.918);
    color: lightgreen;
    background-color: rgb(72, 122, 110);
}

.visit-count{
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: space-evenly;
}